{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp">

    <style id="diy_style" type="text/css">#framefGO92O {  border:#000000 0px none !important;margin:0px !important;background-color:#f5f5f5 !important;background-image:none !important;}#portal_block_3 {  border:0px none !important;margin:0px !important;}#portal_block_3 .dxb_bc {  margin:0px !important;}#frameMuaMy1 {  border:#000000 0px none !important;margin:0px !important;background-color:#f5f5f5 !important;background-image:none !important;}</style>

    <div class="main forums-page clearfix">
        <div class="container-sm">
            <div class="section">
                {foreach name="module" item="fModule"}
                <!--推荐大模块开始-->
                <div class="foldableBox content">
                    <h4>
                        <a href="#">{$fModule['name']}</a>
                    </h4>
                    <div class="forumList-sm section-content">
                        <ul class="clearfix">
                            <!--推荐子模块开始-->
                            {foreach name="fModule['child']" item="cModule"}
                            <li>
                                <a href="/forum/{$cModule['id']}">
                                    <img src="{$cModule['pic']}" align="left" alt="">
                                </a>
                                <dl>
                                    <dt>
                                        <h2><a href="/forum/{$cModule['id']}">{$cModule['name']}</a></h2>
                                    </dt>
                                    <dd>帖数：{$cModule['post_num']}</dd>
                                </dl>
                            </li>
                            {/foreach}
                            <!--推荐子模块结束-->
                        </ul>
                    </div>
                </div>
                {/foreach}
                <!--推荐大模块结束-->
            </div>
            <div class="sidebar">
                <!--[diy=um_forum_diy1]-->
                <!--推荐帖子开始-->
                <div id="um_forum_diy1" class="area">
                    <div id="framefGO92O" class=" frame move-span cl frame-1">
                        <div id="framefGO92O_left" class="column frame-1-c">
                            <div id="framefGO92O_left_temp" class="move-span temp">

                            </div>
                            <div id="portal_block_3" class="block move-span">
                                <div id="portal_block_3_content" class="dxb_bc">
                                    <div class="right-module ">
                                        <h4>帖子推荐</h4>
                                        <ul class="thread-list">
                                            {foreach name="recommend" item="recommend"}
                                            <li>
                                                <a target="_blank" href="forum.php?mod=viewthread&amp;tid=34">
                                                    <img src="{$recommend->users->headimg}" alt="{$recommend->users->nickname}">
                                                </a>
                                                <dl>
                                                    <dt>
                                                        <a href="/posts/{$recommend->id}">{$recommend->users->nickname}</a>
                                                    </dt>
                                                    <dd>
                                                        {$recommend->title}
                                                    </dd>
                                                </dl>
                                            </li>
                                            {/foreach}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--推荐帖子结束-->
                <!--[/diy]-->
            </div>
        </div>
    </div>
</div>
{/block}
<!--主要内容结束-->
{block name="js"}

{/block}