{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp" style="min-height: 847px;">
    <div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>

    <div class="main clearfix">
        <div class="container-sm mtm clearfix">
            <div class="section">
                <div class="content">
                    <h4>资讯</h4>
                    <div class="section-content">
                        <!--文章开始-->
                        {foreach name="informations" item="information"}
                        <div class="content-box">
                            <h2><a href="/information/{$information['id']}" target="_blank" style="">{$information['title']}</a> </h2>
                            <ul class="post-info">
                                <li class="author">{$information['author']}</li>
                                <li class="time">发表于：{$information['create_time']|date="Y-m-d H:i:s",###}</li>
                                <li class="review"><i class="icon-forum-view"></i> &nbsp;&nbsp;&nbsp;{$information['look']}</li>
                                <li class="browse"><i class="icon-forum-comment"></i>&nbsp;&nbsp;&nbsp;{$information['comment']}</li>
                            </ul>
                            <div class="content-picture" style="margin-top: 20px;">
                                <a href="/information/{$information['id']}"><img src="{$information['pic']}"></a>
                            </div>
                            <p>
                                <span> <a target="_blank" href="/information/{$information['id']}">查看文章</a></span>
                            </p>
                        </div>
                        {/foreach}
                        <!--文章结束-->
                    </div>
                    <div class="forum-list-pager clearfix">
                        <div class="pager-wrapper clearfix">
                            <div class="pgs cl">
                                {$informations->render()}
                            </div>
                        </div>
                    </div>
                    <!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="sidebar">
                <!--[diy=um_article_view_diy1]-->
                <div id="um_article_view_diy1" class="area">
                    <div id="frameW75ggg" class=" frame move-span cl frame-1">
                        <div id="frameW75ggg_left" class="column frame-1-c">
                            <div id="frameW75ggg_left_temp" class="move-span temp"></div>
                            <div id="portal_block_12" class="block move-span">
                                <div id="portal_block_12_content" class="dxb_bc">
                                    <div class="right-module ">
                                        <h4>资讯推荐</h4>
                                        <ul class="thread-list">
                                            <!--咨询推荐开始-->
                                            {foreach name="recommend" item="recommend"}
                                            <li>
                                                <a target="_blank" href="portal.php?mod=view&amp;aid=16">
                                                    <img src="{$recommend['pic']}" alt="{$recommend['title']}">
                                                </a>
                                                <dl>
                                                    <dt><a target="_blank" href="/information/{$recommend['id']}">{$recommend['title']}</a></dt>
                                                    <dd>{$recommend['create_time']|date="Y-m-d",###}</dd>
                                                </dl>
                                            </li>
                                            {/foreach}
                                            <!--咨询推荐结束-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--[/diy]-->
            </div>
        </div>

    </div>

    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>
</div>
{/block}
<!--主要内容结束-->
{block name="js"}

{/block}
