{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp">
<div id="main" class="main clearfix">
    <!--轮播图开始-->
    <div class="container-sm container-banner">
        <div id="um_portal_diy1" class="area">
            <div id="frameSLfBFf" class="frame move-span cl frame-1">
                <div id="frameSLfBFf_left" class="column frame-1-c">
                    <div id="frameSLfBFf_left_temp" class="move-span temp"></div>
                    <div id="portal_block_6" class="block move-span">
                        <div id="portal_block_6_content" class="dxb_bc">
                            <div class="banner clearfix">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <a href="forum.php?mod=viewthread&tid=3">
                                                <img src="__STATIC__/index/picture/104137nwlwbl5flmerczw5_1.png" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forum.php?mod=viewthread&tid=2">
                                                <img src="__STATIC__/index/picture/104054k2wbowobgurvgiav_1.jpg" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="forum.php?mod=viewthread&tid=1">
                                                <img src="__STATIC__/index/picture/104007la8mx1mwo6lpb8vm_1.jpg" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--轮播图结束-->
    <div class="container-sm clearfix">
        <div id="newsbox" class="section">
            <!--[新闻资讯区域开始]-->
            <div id="um_portal_diy2" class="area">
                <div id="framepPi39N" class="frame move-span cl frame-1">
                    <div id="framepPi39N_left" class="column frame-1-c">
                        <div id="framepPi39N_left_temp" class="move-span temp"></div>
                        <div id="portal_block_7" class="block move-span">
                            <div id="portal_block_7_content" class="dxb_bc">
                                <div class="foldableBox content ">
                                    <h4>精品资讯<span class="btn-fold"></span></h4>
                                    <div class="section-content">
                                        <!--主要新闻资讯开始-->
                                        {foreach name="information" item="information"}
                                        <div class="content-box">
                                            <h2>
                                                <a target="_blank" href="/information/{$information['id']}">
                                                    {$information['title']}
                                                </a>
                                            </h2>
                                            <ul class="post-info">
                                                <li class="author">{$information['author']}</li>
                                                <li class="time">{$information['create_time']|date="Y-m-d",###}</li>
                                                <li class="review">{$information['look']}</li>
                                                <li class="browse">{$information['comment']}</li>
                                            </ul>
                                            <div class="content-picture">
                                                <a href="/information/{$information['id']}" target="_blank">
                                                    <img src="{$information['pic']}" alt="">
                                                </a>
                                            </div>
                                            <p>
                                         <span>
                                            <a target="_blank" href="/information/{$information['id']}">查看全文</a>
                                         </span>
                                            </p>
                                        </div>
                                        {/foreach}
                                        <!--主要新闻资讯结束-->
                                        <div id="newsMore" class="more">
                                            <a href="/information">查看更多资讯</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[/新闻资讯区域结束]-->
            <!--[最新发帖开始]-->
            <div id="um_portal_diy4" class="area">
                <div id="framen69ggR" class="frame move-span cl frame-1">
                    <div id="framen69ggR_left" class="column frame-1-c">
                        <div id="framen69ggR_left_temp" class="move-span temp"></div>
                        <div id="portal_block_8" class="block move-span">
                            <div id="portal_block_8_content" class="dxb_bc">
                                <div id="discussBox" class="foldableBox discuss " data-node="fold_discuss">
                                    <h4>热帖推荐<span class="btn-fold"></span></h4>
                                    <div id="hiddenresult" style="display:none">
                                        <!--最新帖子开始-->
                                        <div class="discuss-box">

                                            <div class="portrait">
                                                <a href="">
                                                    <img src="__STATIC__/index/picture/avatar_1.php">
                                                </a>
                                            </div>
                                            <div class="discuss-content">
                                                <h5>
                                                    <a href="forum.php?mod=viewthread&tid=2" target="_blank">美丽风景</a>



                                                    <span class="icon icon-img"></span>                     </h5>
                                                <ul class="post-info">
                                                    <li class="author"><a href="/?50">admin</a></li>
                                                    <li class="time">发表于 2017-06-10</li>
                                                    <li class="review">0</li>
                                                    <li class="browse">16</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--最新帖子结束-->
                                    </div>
                                    <div id="Searchresult" class="js-list">
                                    </div>
                                    <div class="forum-list-pager js-pager">
                                        <div class="pager-wrapper clearfix">
                                            <div id="Pagination" class="pg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[最新发帖结束]-->
        </div>
        <!--侧边栏开始-->
        <div class="sidebar">
            <!--[推荐栏目开始]-->
            <div id="um_portal_diy3" class="area">
                <div id="frameM53DzE" class="frame move-span cl frame-1">
                    <div id="frameM53DzE_left" class="column frame-1-c">
                        <div id="frameM53DzE_left_temp" class="move-span temp"></div>
                        <div id="portal_block_9" class="block move-span">
                            <div id="portal_block_9_content" class="dxb_bc">
                                <div class="right-module plate-recommend">
                                    <h4>版块推荐</h4>
                                    <ul class="plate-list clearfix">
                                        <!--推荐位开始-->
                                        {foreach name="module" item="module"}
                                        <li style="background: url(__STATIC__/index/images/common_50_icon_1.png) no-repeat 20px center;background-size: 26px 26px;-webkit-background-size: 26px 26px;">
                                            <a href="/forum/{$module['id']}" target="_blank">{$module['name']}</a>
                                        </li>
                                        {/foreach}
                                        <!--推荐位结束-->
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[推荐栏目结束]-->
            <!--[二级推荐位开始]-->
            <div id="um_portal_diy5" class="area">
                <div id="frameYoLW02" class="frame move-span cl frame-1">
                    <div id="frameYoLW02_left" class="column frame-1-c">
                        <div id="frameYoLW02_left_temp" class="move-span temp"></div>
                        <div id="portal_block_10" class="block move-span">
                            <div id="portal_block_10_content" class="dxb_bc">
                                <div class="right-module application">
                                    <h4>应用推荐</h4>
                                    <ul class="recommend-list">
                                        <li>
                                            <a class="qr-trigger" title="" href="forum.php?mod=viewthread&tid=4">
                                                <img alt="即刻" src="__STATIC__/index/picture/104513qkdsfwmadzm32sey_1.png">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--[二级推荐位结束]-->
        </div>
        <!--侧边栏结束-->
    </div>
</div>
</div>
{/block}
   <!--主要内容结束-->
{block name="js"}
<!--页面折合代码-->
<script src="__STATIC__/index/js/index_1.js" type="text/javascript"></script>
<!--轮播图代码-->
<script src="__STATIC__/index/js/jquery.flexslider_1.js" type="text/javascript"></script>
<!--分页代码
<script src="__STATIC__/index/js/jquery.pagination_1.js" type="text/javascript"></script>-->
<script type="text/javascript">
    (function($){
        function pageselectCallback(page_index, jq){
            var new_content = "";
            if(page_index == 0){
                new_content = $('#hiddenresult div.discuss-box:lt('+(page_index+1)*10+') ').clone();

            }else{
                new_content = $('#hiddenresult div.discuss-box:gt('+(page_index*10-1)+'):lt(10) ').clone();
                $('#Pagination a:eq(1)').on('click',function(){
                    $('html,body').animate({scrollTop:$('#discussBox').offset().top}, 300);
                });
                $('html,body').animate({scrollTop:$('#discussBox').offset().top}, 300);
            }
            $('#Searchresult').empty().append(new_content);
            return false;
        }

        function initPagination() {
            // count entries inside the hidden content
            var num_entries = $('#hiddenresult div.discuss-box').length;
            // Create content inside pagination element
            $("#Pagination").pagination(num_entries, {
                num_edge_entries: 2,
                num_display_entries: 6,
                callback: pageselectCallback,
                items_per_page:10,
                prev_show_always:false,
                next_show_always:false,
                link_to:"javascript:;",
            });
        }
        $(document).ready(function(){
            $('.flexslider').flexslider({
                animation: "slide"
            });
            initPagination();

        });
    })(jQuery);
</script>
{/block}
