<!DOCTYPE html>
<html>
<head>
    <title>学编程论坛提示信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="__STATIC__/index/css/dispatch.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<!--mian-content-->
<h1>提示信息</h1>
<div class="main-wthree">
    <h2>
        {eq name="$code" value="1"}
        恭喜您
        {else/}
        出错了
        {/eq}
    </h2>
    <p>
        <span class="sub-agileinfo">
            {eq name="$code" value="1"}
                Congratulations!
            {else/}
            Sorry!
            {/eq}
        </span>
        <h1>
            {$msg|strip_tags}
        </h1>
    </p>
    <a id="href" href="{$url}" style="color: #00CC00">页面自动跳转，或点击此链接&nbsp;&nbsp;<b id="wait">{$wait}</b>&nbsp;&nbsp;秒</a>
    <p></p>
</div>
<div class="copyright-w3-agile">
    <p>学编程论坛 | Design by <a href="#" target="_blank">周起</a></p>
</div>
<script type="text/javascript">
    (function(){
        var wait = document.getElementById('wait'),
                href = document.getElementById('href').href;
        var interval = setInterval(function(){
            var time = --wait.innerHTML;
            if(time <= 0) {
                location.href = href;
                clearInterval(interval);
            };
        }, 1000);
    })();
</script>
</body>
</html>

