{extend name="layout" /}
{block name="content"}
<div id="page-wrapper" class="gray-bg dashbard-1">

    <div class="row J_mainContent" id="content-main">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加用户积分等级</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" method="post" action="" id="commentForm" novalidate="novalidate">
                        <input type="hidden" name="__token__" value="{$Request.token}" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">等级名称：</label>
                            <div class="col-sm-8">
                                <input name="name" value="" minlength="2" type="text" class="form-control" required="" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所需积分：</label>
                            <div class="col-sm-8">
                                <input type="number" name="point" maxlength="11" value=""  minlength="11" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">ICON图标：</label>
                            <div class="col-sm-8">
                                <label>
                                    <img style="max-height:100%;max-width:100%;width:300px;height:200px;vertical-align:middle;" class="fileimg" src="__STATIC__/admin/img/up.jpg" />
                                    <input type="file" style="display: none;" id="file" class="files" />
                                    <input type="hidden" name="icon" id="nowPic" value="">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a class="btn btn-primary" id="formSubmitAdd">提交</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    $(document).ready(function() {
        var url = "{:url('admin/common/upload',['type' => 'level'])}";
        $("#file").change(function() {
            //普通上传
            var upload = function(f) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                var formData;
                formData = new FormData();
                formData.append('file', f);
                xhr.onreadystatechange = function(response) {
                    if (xhr.readyState == 4 && xhr.status == 200 && xhr.responseText != "") {
                        var text = JSON.parse(xhr.responseText);
                        $(".fileimg").attr("src",text);
                        $("#file").remove();
                        $("#nowPic").val(text);
                    } else if (xhr.status != 200 && xhr.responseText) {
                    }
                };
                xhr.send(formData);
            };
            if ($("#file")[0].files.length > 0) {
                upload($("#file")[0].files[0]);
            } else {
                console && console.log("form input error");
            }
        })
    });
</script>
{/block}
