{extend name="layout" /}
{block name="content"}
<!--右侧部分开始-->
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" id="linkOrder" href="#">
                        <i class="fa fa-bell"></i> <span class="label label-primary"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row J_mainContent" id="content-main">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>修改等级</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" action="{:url('update')}" id="commentForm" novalidate="novalidate">
                        <input type="hidden" name="__token__" value="{$Request.token}" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">等级名称：</label>
                            <div class="col-sm-8">
                                <input name="name" value="{$data_view['name']}" minlength="2" type="text" class="form-control" required="" aria-required="true">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">所需积分：</label>
                            <div class="col-sm-8">
                                <input type="number" name="point" maxlength="11" value="{$data_view['point']}"  minlength="11" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数字等级：</label>
                            <div class="col-sm-8">
                                <input type="number" name="number" maxlength="11" value="{$data_view['number']}"  minlength="11" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">图片：</label>
                            <div class="col-sm-8">
                                <label>
                                    <img style="max-height:100%;max-width:100%;width:300px;height:200px;vertical-align:middle;" class="fileimg" src="{$data_view['icon']}" />
                                    <input type="file" style="display: none;" id="file" class="files" />
                                    <input type="hidden" name="icon" id="nowPic" value="{$data_view['icon']}">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <a class="btn btn-primary" id="formSubmitEdit" data-id="{$data_view['id']}">提交</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧部分结束-->
{/block}
{block name="js"}
    <script src="__STATIC__/admin/js/Calendar.js"></script>
    <script>
        $(document).ready(function() {
            var url = "{:url('admin/common/upload',['type' => 'level'])}";
            $("#file").change(function() {
                //普通上传
                var upload = function(f) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', url, true);
                    var formData;
                    formData = new FormData();
                    formData.append('file', f);
                    xhr.onreadystatechange = function(response) {
                        if (xhr.readyState == 4 && xhr.status == 200 && xhr.responseText != "") {
                            var text = JSON.parse(xhr.responseText);
                            $(".fileimg").attr("src",text);
                            $("#file").remove();
                            $("#nowPic").val(text);
                        } else if (xhr.status != 200 && xhr.responseText) {
                        }
                    };
                    xhr.send(formData);
                };
                if ($("#file")[0].files.length > 0) {
                    upload($("#file")[0].files[0]);
                } else {
                    console && console.log("form input error");
                }
            })
        });
    </script>
{/block}
