{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp" style="min-height: 700px;">
    <div class="wp">
        <!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
    </div>
    <div id="ct" class="ct2_a wp cl">
        <div class="mn">
            <div class="bm bw0">
                <ul class="tb cl">
                    <li {eq name="$condition" value="0"}class="a"{/eq}><a href="/message">未读消息</a></li>
                    <li {eq name="$condition" value="1"}class="a"{/eq}><a href="/message/type/1">已读消息</a></li>
                </ul>
                <div class="xld xlda pml mtm mbm">
                    {foreach name="messages" item="message"}
                    <dl id="pmlist_1" class="bbda cur1 cl">
                        <dd class="m avt">
                            <a href="/user/{$message['post_user_id']}">
                                <img src="{$message['post_user_headimg']}">
                            </a>
                        </dd>
                        <dd class="ptm pm_c">
                            {$message['post_user_name']}
                            <div class="o">
                            </div>
                            <span class="xi2 xw1">{$message['tips']}<br>
                                <span class="xg1">
                                    <input type="checkbox" name="message[]" class="pc" value="{$message['id']}">
                                    <span>{$message['create_time']|date="Y-m-d H:i:s",###}</span>
                                </span> &nbsp;
                                <span class="pm_o y">
                                <span class="xg1 z">
                                </span>
                                    <a href="javascript:;" class="findUrl" data-id="{$message['id']}" data-url="{$message['info_url']}">前去查看</a>
                                </span>
                            </span>
                        </dd>
                    </dl>
                    {/foreach}
                    <div style="margin-left: 30%">{$list->render()}</div>
                </div>
                <div class="pgs pbm cl pm_op">
                    <button class="pn"  id="delSome"><strong>删除</strong></button>
                    <button class="pn"  id="delAll"><strong>全部删除</strong></button>
                    <button class="pn"  id="is_read" type="button"><strong>标记已读</strong></button>
                </div>
            </div>
        </div>
        {include file="public/user_left"}
    </div>

    <div class="wp mtn">
        <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
    </div>	</div>
{/block}
{block name="js"}
<script>
    //跳转改变状态
    $(".findUrl").click(function () {
        var url = $(this).data('url');
        var id  = $(this).data('id');
        type = 'update';
        $.ajax({
            type : "DELETE",
            url : "{:url('message/infoDel')}",
            data : {'id':id,'type':type},
            success : function (res) {
                if (res.code == 1){
                    window.location.href = url;
                }else{
                    layer.msg(res.info,{icon:3},function () {
                        window.location.reload();
                    })
                }
            }
        })
    });
    //更新已读
    $("#is_read").click(function () {
        someOrAll('update');
    });
    //删除所有信息
    $("#delAll").click(function () {
        someOrAll('all');
    });
    //删除部分信息
    $("#delSome").click(function () {
        someOrAll('some');
    });
    //多个信息删除
    function someOrAll(type){
        var list = $("input[type='checkbox']");
        var id = '';
        var info = (type == 'all')?'删除全部信息':'删除这些信息';
        if (type == 'all'){
            info = '删除全部信息';
        }else if (type == 'some'){
            info = '删除这些信息';
        }else if (type == 'update'){
            info = '标记为已读';
        }
        if (type == 'all'){
            for (var i = 0; i < list.length; i++){
                id = list[i].value+'-'+id;
            }
        }else{
            for (var i = 0; i < list.length; i++){
                if (list[i].checked){
                    id = list[i].value+'-'+id;
                }
            }
            if(!id){
                layer.msg('您未选中任何值');
                return ;
            }
        }
        infoDel(id,info,type);
    }
    //删除函数//successOrFail
    function infoDel(id,title,type) {
        layer.confirm('是否 '+title+' 吗?', {
            btn: ['确定','取消']
        }, function(){
            $.ajax({
                type : "DELETE",
                url : "{:url('message/infoDel')}",
                data : {'id':id,'type':type},
                success : successOrFail
            });
        });
    }
</script>
{/block}