<div class="appl">
    <div class="tbn">
        <h2 class="mt bbda">设置</h2>
        <ul>
            <li {eq name="nowType" value="setting"}class="a"{/eq}><a href="/setting">账户信息</a></li>
            <li {eq name="nowType" value="points"}class="a"{/eq}><a href="/points">积分</a></li>
            <li {eq name="nowType" value="message"}class="a"{/eq}><a href="/message">消息</a></li>
            <li {eq name="nowType" value="favorite"}class="a"{/eq}><a href="/favorite">收藏</a></li>
        </ul>
    </div>
</div>