{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp" style="min-height: 847px;">
    <div id="ct" class="ct2_a wp cl">
        <div class="mn">
            <!--[diy=diycontenttop]--><div id="diycontenttop" class="area"></div><!--[/diy]-->
            <div class="bm bw0">
                <h1 class="mt bbs">
                    全部收藏
                </h1>
                    <ul>
                        <!--收藏开始-->
                        {foreach name="favorites" item="favorite"}
                        <li id="{$favorite['id']}" class="bbda ptm pbm">
                            <button class="y favoriteDel" data-title="{$favorite['article_title']}">删除</button>
                            <span class="xg1 y" style="margin-right: 50px;">
                                <span title="">{$favorite['create_time']}</span>
                            </span>
                            <input type="checkbox"  name="favorite[]" class="pc" value="{$favorite['id']}">
                            <span>
                                <img src="__STATIC__/index/images/thread.gif" alt="thread" class="t">
                            </span>
                            <a href="{eq name="$favorite['article_title']" value="1"}/information/{$favorite['article_id']}{else/}/posts/{$favorite['article_id']}{/eq}">
                                {$favorite['article_title']}
                            </a>
                        </li>
                        {/foreach}
                        <!--收藏结束-->
                    </ul>
                    {$page}
                    <p class="mtm pns">
                        <button id="delSome" class="pn vm" style="margin-left: 20%"><em>删除选中收藏</em></button>
                        <button id="delAll" class="pn vm" style="background-color: red;margin-left: 20%"><em>删除所有收藏</em></button>

                    </p>
            </div>
            <div id="diycontentbottom" class="area"></div>
        </div>
        <div class="appl">
            <div class="tbn">
                <h2 class="mt bbda">收藏</h2>
                <ul>
                    <li {empty name="$type"}class="a"{/empty}><a href="/favorite/{$id}">全部收藏</a></li>
                    <li {eq name="$type" value="1"}class="a"{/eq}><a href="/favorite/{$id}/type/1">帖子</a></li>
                    <li {eq name="$type" value="2"}class="a"{/eq}><a href="/favorite/{$id}/type/2">文章</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{/block}
<!--主要内容结束-->
{block name="js"}
<script type="text/javascript">
    //删除所有收藏
    $("#delAll").click(function () {
        someOrAll('all');
    });
    //删除部分收藏
    $("#delSome").click(function () {
        someOrAll('some');
    });
    //删除单个收藏
    $(".favoriteDel").click(function () {
        var id    = $(this).parent().attr('id');
        var title = $(this).data('title');
        favoriteDel(id,title);
    });

    //多个收藏删除
    function someOrAll(type){
        var list = $("input[type='checkbox']");
        var id = '';
        var info = (type == 'all')?'全部收藏':'这些收藏';
        if (type == 'all'){
            for (var i = 0; i < list.length; i++){
                id = list[i].value+'-'+id;
            }
        }else if (type == 'some'){
            for (var i = 0; i < list.length; i++){
                if (list[i].checked){
                    id = list[i].value+'-'+id;
                }
            }
            if(!id){
                layer.msg('您未选中任何值');
                return ;
            }
        }
        favoriteDel(id,'这些收藏');
    }
    //删除函数
    function favoriteDel(id,title) {
        layer.confirm('是否删除 '+title+' 吗?', {
            btn: ['确定','取消']
        }, function(){
            $.ajax({
                type : "DELETE",
                url : "{:url('users/favoriteDel')}",
                data : {'id':id},
                success : successOrFail
            });
        });
    }
</script>
{/block}
