{extend name="layout" /}
{block name="content"}
<div id="wp" class="wp" style="min-height: 700px;">
    <div id="pt" class="bm cl">
        <div class="z">
            <a href="./" class="nvhm" title="首页">Discuz! Board</a> <em>›</em>
            <a href="home.php?mod=spacecp">设置</a> <em>›</em>积分
        </div>
    </div>
    <div id="ct" class="ct2_a wp cl">
        <div class="mn">
            <div class="bm bw0">
                <h1 class="mt">积分
                </h1>
                <!--don't close the div here--><ul class="tb cl">
                <li><a href="/points">我的积分</a></li>
                <li><a href="/points/log">积分记录</a></li>
                <li  class="a"><a href="/points/rule">积分规则</a></li>
                <li><a href="/user/level">等级规则</a></li>
            </ul><p class="tbmu bw0">
                <a class="a" href="/" hidefocus="true">系统奖励</a>
            </p>
                <table summary="积分获得历史" cellspacing="0" cellpadding="0" class="dt">
                    <tbody>
                        <tr>
                            <th class="xw1" width="80">积分规则</th>
                            <th class="xw1" width="60">类型</th>
                            <th class="xw1" width="60">积分数量</th>
                            <th class="xw1" width="100">每日限定</th>
                        </tr>
                        {foreach name="rule" item="rule"}
                        <tr>
                            <th width="80">{$rule['name']}</th>
                            <th  width="60">
                                {eq name="$rule['type']" value="1"}
                                增加
                                {else/}
                                减少
                                {/eq}
                            </th>
                            <th width="60">{$rule['points']}</th>
                            <th width="100">{$rule['limit_num']}</th>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
                <div style="margin-left: 30%;"></div>
            </div>
        </div>
        {include file="public/user_left"}
    </div>
</div>
{/block}
<!--主要内容结束-->
{block name="js"}

{/block}
