<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script src="__STATIC__/admin/js/jquery.min.js"></script>
<script src="__STATIC__/plugins/layer/layer.js"></script>
<script>
    (function success() {
        layer.msg('成功',{time:2000,icon:1,shade: 0.3}, function () {
            window.location.reload();
        });
    })();
</script>
</body>
</html>